:root { 
--white_A700_b1:#ffffffb1; 
--blue_gray_100_26:#d9d9d926; 
--gray_800_01:#3f3f46; 
--black_900_3f:#0000003f; 
--gray_900_19:#20202019; 
--black_900_87:#00000087; 
--gray_900_4f:#2020204f; 
--white_A700_99:#ffffff99; 
--black_900_01:#250303; 
--black_900_00:#00000000; 
--blue_gray_900_02:#303030; 
--blue_gray_700:#34746d; 
--blue_gray_900_01:#333333; 
--blue_gray_900:#2f2f2f; 
--gray_900_63:#23232363; 
--deep_purple_A200:#a855f7; 
--red_A700:#ff0000; 
--black_900_49:#00000049; 
--yellow_200:#ffee9a; 
--gray_50_b1:#fcfcfcb1; 
--teal_A700:#00d0aa; 
--gray_600:#808080; 
--black_900_c1:#000000c1; 
--gray_900_26:#23232326; 
--blue_gray_100:#d9d9d9; 
--gray_100_b1:#f3f3f3b1; 
--blue_gray_300:#959eab; 
--green_800_66:#2d980866; 
--gray_600_61:#82828261; 
--gray_800:#393939; 
--gray_900_9b:#2020209b; 
--gray_100_03:#f3f4f6; 
--gray_100_02:#f5f6fa; 
--white_A700_63:#ffffff63; 
--gray_900_5e:#2020205e; 
--gray_100_01:#f4f4f4; 
--white_A700_68:#ffffff68; 
--gray_900_30:#20202030; 
--gray_400_00:#bdbdbd00; 
--black_900_19:#00000019; 
--black_900_14:#00000014; 
--white_A700:#ffffff; 
--gray_700_01:#5a5a5a; 
--gray_900_70:#23232370; 
--black_900_d3:#000000d3; 
--gray_900_35:#20202035; 
--blue_gray_800_3f:#383e4a3f; 
--gray_600_94:#82828294; 
--gray_700_61:#59595961; 
--blue_gray_100_01:#ced9dd; 
--red_500:#ff2b2b; 
--green_800:#2d9808; 
--gray_600_14:#82828214; 
--blue_gray_200_01:#abb6c3; 
--black_900_66:#00000066; 
--blue_gray_200_02:#b9beca; 
--teal_800:#136760; 
--black_900:#000000; 
--black_900_61:#00000061; 
--gray_500_01:#999999; 
--black_900_63:#00000063; 
--blue_gray_800:#1f4c41; 
--gray_500_02:#8f959e; 
--gray_700_14:#59595914; 
--gray_900_02:#141414; 
--gray_700:#595959; 
--white_A700_2b:#ffffff2b; 
--gray_900_03:#232323; 
--black_900_6d:#0000006d; 
--gray_900_47:#29292947; 
--white_A700_a1:#ffffffa1; 
--gray_900_04:#272626; 
--teal_A400_01:#00fbce; 
--blue_gray_200:#c0c5d3; 
--white_A700_6d:#ffffff6d; 
--gray_500:#a3a3a3; 
--gray_900_05:#292929; 
--gray_600_01:#717171; 
--black_900_2b:#0000002b; 
--teal_A400_02:#05d9b3; 
--gray_900:#202020; 
--gray_900_01:#272727; 
--blue_gray_900_03:#2e2e2e; 
--gray_900_47_01:#23232347; 
--gray_900_06:#171717; 
--gray_300:#dddddd; 
--gray_900_07:#1d1e20; 
--blue_gray_300_01:#9aa3a9; 
--teal_A400:#00e9bf; 
--gray_100:#f5f5f5; 
--white_A700_87:#ffffff87; 
--white_A700_05:#fefefe05; 
--cyan_700:#00a79b; 
}